<section class="quest-controlles row">
  <ul class="nav nav-pills pull-right">
    <li {{action "save"}} class="quest-save" >
      <a href="#"><i class="glyphicon glyphicon-save"></i> Save</a>
    </li>
    <li {{action 'delete' }} class="quest-delete">
      <a href="#"><i class="glyphicon glyphicon-remove"></i> Delete</a>
    </li>
  </ul>
</section>
<section class="quest-settings row">
<form role="form">
  <div class="form-quest">
    <div class="editable col-lg-12">
      <label for="name" class="control-label">Group name</label>
      {{input id="name" value=model.name class="quest-name form-control"}}
    </div>
  </div>
  <div class="form-quest">
    <div class="editable col-lg-12">
      <label for="name" class="control-label">Add Group members</label>
      {{chosen id="memebers"
          name="members"
          multiple=true
          content=membersOptions
          optionValuePath="content"
          optionLabelPath="content.username"
          selection=selected
          class="quest-members form-control"
          }}
    </div>
  </div>
</form>
</section>
<section class="quest-members">
<div class="col-md-12">
  <h4>Members</h4>
  <ul class="item-quest">
    {{#each user in model.members}}
      <li class="list-quest-item">
        <a href="#remove" {{action "remove" user }} class="quest-member-remove pull-right">
                    <i class="glyphicon glyphicon-cross"></i> Remove
                </a>
        {{user.username}}
      </li>
    {{else}}
      Does not contain any members
    {{/each}}
  </ul>
</div>
</section>