<section class="quest-controlles row">
  <ul class="nav nav-pills pull-right">
    <li {{action "assign"}} class="quest-save" >
      <a href="#"><i class="glyphicon glyphicon-save"></i> Assign</a>
    </li>
  </ul>
</section>
<section class="quest-settings row">
<form role="form">
  <div class="form-group">
    <div class="editable col-lg-12">
      <label for="name" class="control-label">Assign Users</label>
      {{chosen 
          name="users"
          multiple=true
          content=unassignedUsersOptions
          optionValuePath="content"
          optionLabelPath="content.username"
          selection=selected
          class="quest-users form-control"
          }}
    </div>
  </div>
  <div class="form-group">
    <div class="editable col-lg-12">
      <label for="name" class="control-label">Assign Group</label>
      {{chosen 
          name="users"
          multiple=true
          content=groupsOptions
          optionValuePath="content"
          optionLabelPath="content.name"
          selection=selectedGroups
          class="quest-group form-control"
          }}
    </div>
  </div>
</form>
</section>
<section class="quest-users">
<div class="col-md-12">
  <h4>Assigned Users</h4>
  <ul class="item-group">
    {{#each model.userQuests as |userQuest| }}
      <li class="list-group-item">
        <a href="#remove" {{action "remove" userQuest }} class="quest-member-remove pull-right">
                    <i class="glyphicon glyphicon-cross"></i> Un-assign
                </a>
        {{userQuest.user.username}}
      </li>
    {{else}}
      This Quest is not assigned to anyone
    {{/each}}
  </ul>
</div>
</section>