<section class="arean-controlles row">
  <ul class="nav nav-pills pull-right">
    <li {{action "reset"}} class="{{if canReset '' 'disabled'}}"><a href="#"><i class="glyphicon glyphicon-repeat arean-reset"></i> Reset</a></li>
    {{#unless isPublished }}
    <li {{action "save"}} class="{{if canSave '' 'disabled'}} arean-save" ><a href="#">
        <i class="glyphicon glyphicon-save"></i> Save</a>
    </li>
    {{/unless}}
    {{#unless isPublished }}
      <li {{action "publish"}} class="{{if canPublish '' 'disabled'}} arean-publish" title="to publish challenge, you need to at least have one published challenge"><a href="#"><i class="glyphicon glyphicon-ok-circle"></i> Publish</a></li>
    {{else}}
      <li {{action "publish"}} class="{{if canSave '' 'disabled' arean-unpublish}}"><a href="#"><i class="glyphicon glyphicon-save"></i> Save/Re-Publish</a></li>
      <li {{action "unPublish"}} class=""><a href="#"><i class="glyphicon glyphicon-ban-circle"></i> Un-Publish</a></li>
    {{/unless}}
    <li {{action 'delete' }} class="arean-delete"><a href="#"><i class="glyphicon glyphicon-remove"></i> Delete</a></li>
  </ul>
</section>
<section class="arean-settings row">
<form role="form">
<div class="form-group">
  <div class="editable col-lg-12">
    <label for="name" class="control-label">Arena name</label>
    {{input id="name" value=model.name class="arean-name form-control"}}
  </div>
  </div>
  <div class="form-group col-lg-12">
    <label for="description" class="control-label">Arena description</label>
    {{textarea
      id="description"
      class="arean-description form-control"
      value=model.description
    }}
  </div>
</form>
</section>
<section class="arean-challenges row">
<div class="col-lg-12 clearfix">
  {{#link-to 'challenges.create' class="btn btn-primary create-challenge" classNameBindings='isNew:disabled'}} <i class="glyphicon glyphicon-plus"></i> Add Challenge{{/link-to}}
</div>
  <div class="col-lg-12">
    {{render '_arenaChallengesList' model.challenges }}
  </div>
</section>