<section class="description panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{{arena.name}}</h2>
</div>
  <div class="panel-body">
    {{arena.description}}
  </div>
</section>
<div class="row">
<ul>
{{#each ch in arena.challenges }}
  <li>{{ch.name}}</li>
{{/each}}
  
</ul>
  
</div>
<section class="row">

{{!-- {{currentChallenge.name}} --}}
{{render '_arenatrial' currentTrial }}
</section>
