<section class="user-controlles row">
  <ul class="nav nav-pills pull-right">
    <li {{action "save"}} class="{{if isDirty '' 'disabled'}} user-save" >
      <a href="#"><i class="glyphicon glyphicon-save"></i> Save</a>
    </li>
    {{#unless isCreating}}
    <li {{action "activate"}} class="{{if activated 'disabled' user-publish}}">
      <a href="#"><i class="glyphicon glyphicon-ok-circle"></i> Activate</a>
    </li>
    <li {{action 'delete' }} class="{{if isAdmin 'disabled'}} user-delete">
      <a href="#"><i class="glyphicon glyphicon-remove"></i> Delete</a>
    </li>      
    {{/unless}}
  </ul>
</section>
<section class="user-settings row">
<form role="form">
  <div class="form-group">
    <div class="col-lg-12">
      <label for="name" class="control-label">User name</label>
      {{input id="name" value=model.username class="user-username form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-12">
      <label for="description" class="control-label">User email</label>
      {{input id="description" value=model.email class="user-email form-control"}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-12">
      <label for="name" class="control-label">User Uni Id</label>
      {{input id="uniId" value=model.uniId class="user-uniId form-control"}}
    </div>
  </div>
  {{#if isCreatingOrNotAdmin }}
  <div class="form-group">
    <div class="col-lg-12">
      <label for="description" class="control-label">User role</label>
      {{chosen name="id1"
        content=model.roles
        value=model.role
        optionValuePath="content"
        optionLabelPath="content"
        class="user-role form-control"
        }}
    </div>
  </div>    
  {{/if}}
</form>
</section>
{{#unless isCreating}}
  <hr>
<section class="user-password-reset row">
  <form role="form-horizontal col-md-6 col-md-offset-1">
    <fieldset>
      <legend>Change Password</legend>
      <div class="form-group">
          <label for="name" class="control-label">New Password</label>
          {{input type="password" value=password class="form-control"}}
      </div>
      <div class="form-group">
          <label for="name" class="control-label">New Password Confirmation</label>
          {{input type="password" value=passwordConfirmation class="form-control"}}
      </div>
      <button {{action "changePass"}} class="btn btn-default">Change</button>
    </fieldset>
  </form>
</section>
{{/unless}}
