<section class="col-md-4">
<div class="center-block clearfix">
    {{profile-icon seed=model.username class="pull-right"}} <h2>{{model.username}}</h2>
</div>

 <ul class="list-group">
    <li class="list-group-item text-muted">Profile</li>
    {{#if session.atLeastTeacher }}
      <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span> {{model.email}}</li>
    {{/if}}
    <li class="list-group-item text-right"><span class="pull-left"><strong>Experience</strong></span> {{model.exp}}</li>
    {{#if model.isStudent}}
      <li class="list-group-item text-right"><span class="pull-left"><strong>Group</strong></span>
      {{#each model.memberships as |member| }}
        {{member.gname}} 
      {{else}}
        You have Yet to join a group
      {{/each}}
      </li>
    {{/if}}
</ul>
{{!-- 
<ul class="list-group">
    <li class="list-group-item text-muted">Activities</li>
    <li class="list-group-item">Something Happend</li>
    <li class="list-group-item">Something Happend</li>
    <li class="list-group-item">Something Happend</li>
    <li class="list-group-item">Something Happend</li>
</ul>  --}}
</section>
<section class="col-md-8">
    <ul class="nav nav-tabs" role="tablist">
      {{#if model.isStudent }}
        {{#unless session.isStudent}}
          <li><a href="#progress" role="tab" data-toggle="tab">Progress</a></li>
        {{/unless}}
        <li class="active" \><a href="#quests" role="tab" data-toggle="tab">Quests</a></li>
      {{else}}
        <li class="active"><a href="#groups" role="tab" data-toggle="tab">Groups</a></li>
      {{/if}}
      {{#if isOwnPage }}
        <li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
      {{/if}}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      {{#if model.isStudent }}
        <div class="tab-pane" id="progress">
          {{high-chart chartId='revenue-by-product' series=activitySeries }}
        </div>
        <div class="tab-pane active" id="quests">
          <div class="panel-group" id="questAccordion" >
          {{#each model.userQuests as |quest| }}
            <div class="panel {{if quest.complete 'panel-success' 'panel-default'}}" >
              <div class="panel-heading">
                <h4 class="panel-title">
                  {{#if quest.complete }}
                    <span class="pull-right"><i class="glyphicon glyphicon-ok-circle"></i></span>
                  {{/if}}
                  <a data-toggle="collapse" data-parent="#questAccordion" href={{quest.hash}} >
                    {{quest.name}}
                  </a>
                </h4>
              </div>
              <div id={{quest.id}} class="panel-collapse collapse">
                <div class="panel-body">
                {{#if quest.description}}
                  <p>
                    {{quest.description}}
                  </p>
                {{/if}}
                </div>
                <ul class="list-group">    
                  {{#each quest.requirements as |req| }}
                      <li class="list-group-item">
                        {{#if req.complete }}
                          <span class="pull-right text-success"><i class="glyphicon glyphicon-ok-circle"></i></span>
                        {{/if}}
                         Complete 
                          {{#unless req.isAny1 }}
                              {{#if req.isChallenge}}
                               {{#link-to 'challengeTrial' req.id1 }}
                                 {{req.model1}}
                                {{/link-to}}
                              {{else}}
                                {{#link-to 'arenaTrial' req.id1 }}
                                  {{req.model1}}
                                {{/link-to}}
                              {{/if}}
                          {{else}}
                              {{#if req.times }}
                                  <strong>{{req.times}}</strong>
                              {{/if}}
                              {{#if req.id2}}
                                  Challange(s) in
                                  {{#link-to 'arenaTrial' req.id2 }}
                                    {{req.model2}}
                                  {{/link-to}}
                                  {{else}}
                                  {{#link-to 'arenas' }}
                                    {{req.model1}}
                                  {{/link-to}}
                              {{/if}}
                          {{/unless}}
                          {{!-- {{partial '_requirement' }} --}}
                         {{#if req.isMultiple }}
                           <p class="list-group-item-text">
                             <div class="progress" >
                              <div role="progressbar" class="progress-bar {{if req.complete 'progress-bar-success'}}" aria-valuenow={{if req.completed}} aria-valuemin="0" aria-valuemax={{req.times}} style={{req.progressInCSS}}>
                                {{req.completed}}/{{req.times}}
                              </div>
                            </div>
                           </p>
                         {{/if}}
                      </li>
                  {{else}}
                      Does not have any requirements
                  {{/each}}
                </ul>
              </div>
            </div>
          {{else}}
            <p class="row">
              <div class="col-md-12">You do not have any quests</div>
            </p>
          {{/each}}
          </div>
        </div>
      {{else}}
         <div class="tab-pane active" id="groups">
            <ul class="list-group">
            {{#each model.memberships as |member| }}
              <li class="list-group-item">            
                  <h4 class="list-group-item-heading">
                      <small class="pull-right">
                        {{#if member.isLeader}}
                          {{#link-to 'group.edit' member.group class="group-edit"}}
                              <i class="glyphicon glyphicon-pencil"></i> Edit
                          {{/link-to}} 
                        {{/if}}
                       {{!--  <a href="#remove" {{action "leave" member.group }} class="group-delete">
                            <i class="glyphicon glyphicon-trash"></i> Leave
                        </a> --}}
                      </small>
                      {{#link-to 'group' member.group class="group-name"}}
                          {{member.gname}}
                      {{/link-to}}
                  </h4>
              </li>
            {{else}}
               <div class="row"> Not a member of any group</div>
            {{/each}}
            </ul>
          </div> {{!-- end of group tab --}}
      {{/if}}
     
      {{#if isOwnPage }}
        <div class="tab-pane" id="settings">
          <div class="row">
            <h3>Groups</h3>
            <div class="col-md-12">
                {{#each model.memberships as |member| }}
                  <button {{action "leave" member }} class="btn btn-primary">Leave {{member.gname}}</button>
                {{else}}
                 <p>You have yet to Join any group</p>
                {{/each}}
            </div>
          </div>
          {{#if canJoinGroups }}
          <div class="row">
            <form class="form-horizontal col-md-11">
              <fieldset>
                <legend>Join Group</legend>
                <div class="form-group">
                  {{chosen
                      content=groupOptions
                      optionValuePath="content"
                      optionLabelPath="content.name"
                      selection=group
                      class="group-options form-control col-md-12"
                      }}
                </div>
                <button {{action "join" group }} class="btn btn-primary">Join</button>
              </fieldset>
            </form>            
          </div>
          {{/if}}
          {{#if fullErrors }}
            <div class="alert alert-danger">
              {{#each fullErrors as |message| }}
                <p>{{message}}</p>
              {{/each}}
            </div>
          {{/if}}
          <div class="row">
            <form role="form-horizontal col-md-12">
              <fieldset>
                <legend>Change Password</legend>
                <div class="form-group">
                    <label for="name" class="control-label">New Password</label>
                    {{input type="password" value=password class="form-control"}}
                </div>
                <div class="form-group">
                    <label for="name" class="control-label">New Password Confirmation</label>
                    {{input type="password" value=passwordConfirmation class="form-control"}}
                </div>
                <button {{action "changePass"}} class="btn btn-default">Change</button>
              </fieldset>
            </form>
          </div>
        </div>
      {{/if}}
    </div>
</section>

