<section class="row">
<div class="col-md-12 text-center">
{{#if session.atLeastTeacher}}
  {{#link-to 'arena.edit' arena class="btn pull-right" }}Edit{{/link-to}}
{{/if}}
    <h2 class="">{{arena.name}}</h2>
    <p>{{arena.description}}</p>
    {{#if model.exp}}      
      <h2 class="pull-right">{{model.exp}} XP</h2>
    {{/if}}
</div>
</section>
<hr>
<section class="row">
    {{#each trials as |trial| }}
        {{#if trial.challenge.isPublished}}
          <button {{action 'try' trial }} class="btn  {{if trial.complete 'btn-success'}} col-md-4">
              {{trial.challenge.exp}} <i class="glyphicon glyphicon-star"></i>
          </button>
        {{/if}}
    {{/each}}
</section>