<section class="group-controlles row">
  <ul class="nav nav-pills pull-right">
    <li {{action "save"}} class="group-save" >
      <a href="#"><i class="glyphicon glyphicon-save"></i> Save</a>
    </li>
    <li {{action 'delete' }} class="group-delete">
      <a href="#"><i class="glyphicon glyphicon-remove"></i> Delete</a>
    </li>
  </ul>
</section>
<section class="group-settings row">
<form role="form">
  <div class="form-group">
    <div class="editable col-lg-12">
      <label for="name" class="control-label">Group name</label>
      {{input id="name" value=model.name class="group-name form-control"}}
    </div>
  </div>
  {{#unless isCreating }}
     <div class="form-group">
    <div class="editable col-lg-12">
      <label for="name" class="control-label">Add Teacher</label>
      {{chosen
          name="leaders"
          multiple=true
          content=teacherOptions
          optionValuePath="content"
          optionLabelPath="content.username"
          selection=selectedTeachers
          class="group-leader form-control"
          }}
    </div>
  </div>
  <div class="form-group">
    <div class="editable col-lg-12">
      <label for="name" class="control-label">Add Student</label>
      {{chosen
          name="subscribers"
          multiple=true
          content=studentOptions
          optionValuePath="content"
          optionLabelPath="content.username"
          selection=selectedStudents
          class="group-subscribers form-control"
          }}
    </div>
  </div>
  {{/unless}}
</form>
</section>
<section class="group-members">
<div class="col-md-12">
  <h4>Members</h4>
  <ul class="item-group">
    {{#each model.members as |member| }}
      <li class="list-group-item">
        <a href="#remove" {{action "remove" member }} class="group-member-remove pull-right">
            <i class="glyphicon glyphicon-cross"></i> Remove
        </a>
        <a class="label label-info pull-right">
            <i class="glyphicon glyphicon-profile"></i> {{member.role}}
        </a>
        {{member.uname}}
      </li>
    {{else}}
      Does not contain any members
    {{/each}}
  </ul>
</div>
</section>