<div id="wrap">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Ko;dr</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {{!-- {{#link-to 'index' tagName="li" href=false }}
            <a href="{{view.href}}" class="btn" >
              Home
            </a>
          {{/link-to}} --}}
          {{#link-to 'about' tagName="li" href=false }}
            <a href="{{view.href}}" class="btn" >
              About
            </a>
          {{/link-to}}
          {{#if session.isAuthenticated}}
          {{#link-to 'arenas' tagName="li" href=false}}
            <a href="{{view.href}}" class="btn" >
              Arenas
            </a>
          {{/link-to}}
          {{/if}}

          {{#if session.atLeastTeacher }}
            {{#link-to 'quests' tagName="li" href=false }}
            <a href="{{view.href}}" class="btn" >
              Quests
            </a>
            {{/link-to}}
          {{/if}}
          {{#if session.isAdmin}}
            {{#link-to 'groups' tagName="li" href=false }}
            <a href="{{view.href}}" class="btn" >
              Groups
            </a>
            {{/link-to}}
            {{#link-to 'users' tagName="li" href=false }}
            <a href="{{view.href}}" class="btn">
              Users
            </a>
            {{/link-to}}
          {{/if}}

          {{#if session.isAuthenticated}}
          {{#link-to 'profile' tagName="li" href=false }}
            <a href="{{view.href}}" class="btn" >
              Profile
            </a>
          {{/link-to}}
          {{/if}}
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {{#if session.isAuthenticated}}
              {{!-- <div class="btn-group">
                {{#link-to 'profile' tagName="button" type="button" class="btn btn-default" }}{{session.user.username}}{{/link-to}}
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li><a href="#">Action</a></li>
                  <li class="divider"></li>
                  <li><a href="#" {{action "invalidateSession"}}>Logout</a></li>
                </ul>
              </div> --}}
              <li><a href="#" {{action "invalidateSession"}} >Logout</a></li>
            {{else}}
              <li>{{#link-to "login" }}Sign In{{/link-to}}</li>
              <li>{{#link-to "signup" }}Create Account{{/link-to}}</li>
            {{/if}}
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container marketing">
      {{outlet}}
  </div>

</div>


<div class="footer">
  <div class="container text-center">
    <div><span class="glyphicon glyphicon-heart"></span> MET</div>
    <div><strong>Ko;dr</strong> Project.
      {{!-- Created by<a href="http://met.guc.edu.eg/People/Profile.aspx?facId=3079"> Amr Draz</a> --}}
    </div>
  </div>
</div>