<h3>{{model.name}} <div class="label label-primary">{{model.exp}}</div></h3>
<div class="col-lg-6">
    <a id="run" {{action "run"}} class="btn btn-default pull-right"><i class="glyphicon glyphicon-play"></i></a>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#code" data-toggle="tab">Code</a></li>
      <li><a href="#tests" data-toggle="tab">Test</a></li>
      <li><a href="#structure" data-toggle="tab">Structure</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane  fade in active" id="code">
        {{view 'App.CodeEditorView'
          name="codeEditor"
          id="editor"
          class="col-lg-12"
          model=model
          attr='setup' }}
      </div>
      <div class="tab-pane fade" id="tests">
        {{view 'App.CodeEditorView'
            name="testsEditor"
            id="testsEditor"
            class="col-lg-12"
            model=model
            attr='tests' }}
      </div>
      <div class="tab-pane fade" id="structure">
        {{view 'App.CodeEditorView'
            name="structureEditor"
            id="structureEditor"
            class="col-lg-12"
            model=model
            attr='structure' }}
        <hr>
        <h3>Callbacks for Variables</h3>
        {{view 'App.CodeEditorView'
            name="varCallback"
            id="varCallback"
            class="col-lg-12"
            model=model
            attr='callbacks' }}
      </div>
    </div>
</div>
<div class="col-lg-6">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
      <li><a href="#descriptionPreview" data-toggle="tab">Description Preview</a></li>
      <li><a href="#solution" data-toggle="tab">Solution</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane  fade in active" id="description">
        {{view 'App.CodeEditorView'
          name="descriptionEditor"
          id="descriptionEditor"
          class="col-lg-12"
          model=model
          attr='description'
          highlight='markdown'
          }}
      </div>
      <div class="tab-pane fade" id="descriptionPreview">
        {{view 'App.MarkedMathView' model=model observable='description' }}
      </div>
      <div class="tab-pane fade" id="solution">
        {{view 'App.CodeEditorView'
            name="solutionEditor"
            id="solutionEditor"
            class="col-lg-12"
            model=model
            attr='solution' }}
      </div>
      <div id="sandbox">
        
      </div>
    </div>

</div>