
<section class="col-md-4">
<div class="center-block clearfix">
    {{profile-icon seed=model.username class="pull-right"}} <h2>{{model.username}}</h2>
</div>

 <ul class="list-group">
    <li class="list-group-item text-muted">Profile</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span> {{model.email}}</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Experience</strong></span> {{model.exp}}</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Rank</strong></span> 1</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Clan</strong></span> Avengers</li>
</ul>
{{!-- 
<ul class="list-group">
    <li class="list-group-item text-muted">Activities</li>
    <li class="list-group-item">Something Happend</li>
    <li class="list-group-item">Something Happend</li>
    <li class="list-group-item">Something Happend</li>
    <li class="list-group-item">Something Happend</li>
</ul>  --}}
</section>
<section class="col-md-8">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="#progress" role="tab" data-toggle="tab">Progress</a></li>
      <li><a href="#quests" role="tab" data-toggle="tab">Quests</a></li>
      <li><a href="#achievements" role="tab" data-toggle="tab">Achievements</a></li>
      <li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane" id="home">
      </div>
      <div class="tab-pane" id="progress">...</div>
      {{#if session.isStudent }}
        <div class="tab-pane active" id="quests">
          {{#each quest in model.userQuests}}
            {{quest.name}}
            <ul class="list-group">    
            {{#each req in quest.requirements}}
                  <li class="list-group-item">
                     {{partial '_requirement' }}
                  </li>
                {{else}}
                  Does not have any requirements
                {{/each}}
            </ul>
          {{/each}}
        </div>
        <div class="tab-pane" id="achievements">...</div>
      {{/if}}
      <div class="tab-pane" id="settings">...</div>
    </div>
</section>

